@import "../include/base";
.yueBao{
  .position();
  .main{
    height: 3.15rem;
    padding: 0 0.2rem;
    position: relative;
    .back{
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
      height: 0.5rem;
      background: url("../../images/appBarBk.png") no-repeat;
      background-size: 100% 100%;
      z-index: -1;
    }
    .box{
      width: 100%;
      height: 100%;
      background: #ffffff;
      border-radius: 0.1rem;
      padding: 0.2rem;

      p{
        text-align: center;
        margin-top: 0.1rem;
      }
      .profit{
        width: 1.25rem;
        height: 0.32rem;
        border-radius: 0.5rem;
        background: #f1f2f5;
        margin: 0.1rem auto 0.4rem auto;
        line-height: 0.32rem;
        text-align: center;
        span{
          color: #ff0606;
        }
      }
      .row{
        margin-top: 0.1rem;
        display: flex;
        justify-content: space-around;
        span{
          .flex();
        }
        img{
          width: 0.13rem;
        }
        .money{
          color: #ff0606;
        }
        button{
          width: 1.3rem;
          height: 0.4rem;
          border-radius: 0.05rem;
          border: none;
          color: #ffffff;
          background: linear-gradient(to bottom,#ffdfb9,#fd933c);
        }
      }
    }
  }
  .common{
    height: 0.83rem;
    padding: 0 0.2rem;
    .box{
      display: flex;
      align-items: center;
      justify-content: space-around;
      font-size: 0.12rem;
      text-align: center;
      background: #ffffff;
      margin-top: 0.2rem;
      height: 0.82rem;
      border-radius: 0.1rem;
      img{
        width: 0.31rem;
      }
    }
  }
  .tips{
    margin-top: 0.5rem;
    padding: 0 0.25rem;
    padding-bottom: 0.4rem;
    p{
      color: #858585;
      margin-top: 0.1rem;
      font-size: 0.12rem;
    }
  }
  .profitPopup{
    width: 100%;
    .title{
      width: 100%;
      height: 0.53rem;
      background: linear-gradient(to bottom,#ffd9ba,#fff6ee);
      color: #fc8e35;
      text-align: center;
      line-height: 0.53rem;
      border-bottom: 0.01rem solid #e7e7e7;
    }
    .table{
      width: 100%;
      .td{
        width: 100%;
        height: 0.35rem;
        background: #ffffff;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-bottom: 0.01rem solid #e7e7e7;
        span{

          color: #525252;
        }
      }
    }
    .button{
      width: 100%;
      height: 0.5rem;
      line-height: 0.5rem;
      text-align: center;
    }
  }
}
.transferOut{
  .info-banner{
    height: 0.5rem;
    background: #ffffff;
    padding: 0 0.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #242424;
    font-size: 0.12rem;
  }
  .operate-box{
    background: #ffffff;
    margin-top: 0.2rem;
    .input-box{
      padding: 0.2rem;
      .label{
        color: #242424;
        font-size: 0.12rem;
      }
      .input{
        width: 100%;
        height: 0.4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 0.2rem;
        input{
          border: none;
          margin-left: 0.1rem;
          color: #7d7d7d;
        }
        span{
          font-size: 0.2rem;
        }
        .all{
          font-size: 0.12rem;
        }
      }
    }
    .tip{
      border-top: 0.02rem solid #eaecf1;
      width: 100%;
      height: 0.4rem;
      padding-left: 0.2rem;
      line-height: 0.4rem;
      font-size: 0.12rem;
      span{
        color: #ff5b65;
      }
    }
  }
}
.detail{
  .main{
    padding: 0 0.2rem;
    position: relative;
    .back{
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
      height: 0.5rem;
      background: url("../../images/appBarBk.png") no-repeat;
      background-size: 100% 100%;
      z-index: -1;
    }
    .box{
      width: 100%;
      height: 1.55rem;
      border-radius: 0.1rem;
      padding: 0.2rem;

      background: url("../../images/bCenterBk.png") no-repeat;
      background-size: 100% 100%;
      color: #ffffff;
      p{
        text-align: center;
        margin-top: 0.1rem;
      }
      .profit{
        width: 10.5rem;
        height: 0.32rem;
        border-radius: 0.5rem;
        background: #f1f2f5;
        margin: 0.1rem auto 0.4rem auto;
        line-height: 0.32rem;
        text-align: center;
      }
      .row{
        margin-top: 0.1rem;
        display: flex;
        justify-content: space-around;
        span{
          width: 33%;
          text-align: center;


        }
        img{
          width: 0.13rem;
        }
        button{
          width: 1.3rem;
          height: 0.4rem;
          border-radius: 0.05rem;
          border: none;
          color: #ffffff;
          background: linear-gradient(to bottom,#ffdfb9,#fd933c);
        }
      }
    }
  }
  .tab-box{
    margin-top: 0.2rem;
    padding: 0 0.2rem;
    .tab{
      width: 100%;
      background: #ffffff;
      border-radius: 0.1rem;
      padding: 0 0.1rem;
      border: 0.01rem solid #f3f4ff;
    }
  }
}
.calculator{
  .back{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0.6rem;
    height: 2.2rem;
    background: url("../../images/bg_001.png") no-repeat;
    background-size: 100% 100%;
    z-index: -1;
  }
  .main{
    padding: 1.24rem 0.15rem 0 0.15rem;
    .box{
      height: 2.95rem;
      width: 100%;
      background: #ffffff;
      border-radius: 0.1rem;
      padding-top: 0.2rem;
      p{
        text-align: center;

        color: #242424;
        input{
          border: none;
          font-size: 0.22rem;
          font-weight: bold;
          text-align: center;
          margin-top: 0.2rem;
          color: #bebebe;
        }
      }
      .date{
        height: 0.5rem;
        margin-top: 0.2rem;
        border-top: 0.02rem solid #ebebeb;
        border-bottom: 0.02rem solid #ebebeb;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 0.2rem;
        span{
          .flex();
          color: #242424;
          img{
            width: 0.19rem;
            margin-left: 0.05rem;
          }
        }
      }
      .money{
        height: 0.86rem;
        padding: 0.2rem;
        .back-box{
          background: #eff0f3;
          border-radius: 0.1rem;
          padding: 0.15rem;
          p{

            color: #242424;
          }
        }
      }
    }
  }
}