.footer{
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background: url("../../images/home/bottomBk.png") no-repeat;
  background-size: 100% 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .nav-box{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    .box{
      font-size: 12px;
      color: #b6bdc9;
      text-align: center;
      padding-top: 15px;
      img{
        width: 32px;
        height: 32px;
      }
    }
  }
  .chat{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    text-align: center;
    padding-top: 15px;
    img{
      width: 55px;
    }
  }
}